@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
body {
    background-color: salmon;
    padding: 0;
    margin: 0;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
    background-color: white;
}
nav{
    display: flex;
    justify-content: center;
    background-color: salmon;
}
.nav_link {
    padding: 10px;
    color: black;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    font-family: "Protest Riot", "Prostest Guerrilla Static", "Roboto";
}

img{
    width: 60%;
    display: block;
    margin: 0 auto;
    border: 5px solid black;
    border-radius: 50px;
}
nav a:hover {
    color: salmon;
    background-color: aliceblue;
}
#main_title {
    text-align: center;
    font_size: 4em;
    font-family: "Protest Riot", "Prostest Guerrilla Static", "Roboto";
}
p{
    text-align: center;
}
.paragraph{
    width: 60%;
    margin: 50px auto;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 50px;
    background-color: salmon; 
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 30px;
}
footer{
    background-color: salmon;
    padding: 10px;
    font-family: "Protest Riot", "Prostest Guerrilla Static", "Roboto";
}


